{% extends 'base.html' %}

{% load static %}
{% block titulo %}
Lista Alumnos | José María Arguedas
{% endblock titulo %}

{% block contenido %}
<h1>LISTA ALUMNOS {{grado}} {{seccion}}</h1>
<div class="lista-alumnos">
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>Apellidos y Nombres</th>
                <th colspan="2">Opciones</th>
                
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td class="nombre">
                        {{ alumno.apellido_nombre }}
                    </td>
                    <td>
                        <a href="/editar_alumno/{{ alumno.id }}" class="btn-editar"><button>EDITAR</button></a>
                    </td>
                    <td>
                        <a href="/eliminar_alumno/{{ alumno.id }}" class="btn-eliminar"><button>ELIMINAR</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<p id="aviso">{{mensaje}}</p>
<a href=" /" class="btn"><button>Regresar</button></a>
{% endblock contenido %}